<div class="container mt-5">
    <div>
        <table class="table table-hover table-bordered table-striped">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Registered on</th>
                    <th>Admin</th>
                    <th>Banned</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>4</td>
                    <td>5</td>
                    <td>8</td>
                    <td>5</td>
                    <td>2</td>
                    <td><span><button mat-raised-button>Ban</button></span>
                        <span><button mat-raised-button >Unban</button></span></td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- <pagination-controls id="allusers" (pageChange)="changePage($event)" maxSize="9" directionLinks="true" autoHide="true" previousLabel="Previous" nextLabel="Next" screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page">
    </pagination-controls> -->
</div>