<div class="container">
    <div class="page-header text-center">
        <br><br><br><br><br>
        <h2>Edit post</h2>
    </div>
    <form #postForm="ngForm" (ngSubmit)="onSubmit(postForm)">
        <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="post._id">
        <div class="row">
            <div class="input-field col s12">

                <input type="text" name="author_name" #name="ngModel" [(ngModel)]="post.author_name" placeholder="Enter name">

            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">

                <input type="text" name="title" #name="ngModel" [(ngModel)]="post.title" placeholder="Title">

            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">

                <input type="text" name="body" #name="ngModel" [(ngModel)]="post.body" placeholder="Body">

            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <button class="btn btn-custom right" type="submit" [disabled]="!postForm.valid">Submit Changes</button>
            </div>
        </div>
    </form>
</div>